@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

body#buy {
  header {
    border: none;
  }
  ul.buy-list {
    color: $clr-grey-darker;
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size:0;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
    }
    .emblem {
      display: inline-block;
      width:80px;
      height:80px;
      border-radius: 80px;
      border:2px solid $clr-green;
      svg {
        width: 36px;
        height: 36px;
        margin: (80px - 36px - 4px) / 2;
        path {
          fill: $clr-green;
        }
      }
    }
    .item-title {
      margin-bottom: 4px;
      font-size:20px;
      font-weight: 400;
    }
    .item-details {
      font-size:16px;
      font-weight: 300;
      ul {
        margin: 12px 0 12px 32px;
        list-style: disc;
        li {
          margin: 6px 0;
        }
      }
    }
    > li {
      display: block;
      &:not(:last-child) {
        margin-bottom: 48px;
      }
      @media (min-width: $screen-sm-min) {
        display: table;
        width: 100%;
        margin-bottom: 0;
      }
    }
    .emblem-area {
      display: block;
      margin-bottom: 24px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
        text-align: left;
        vertical-align: top;
        display: table-cell;
        width: 130px;
      }
    }
    .item-text-area {
      display: block;
      @media (min-width: $screen-sm-min) {
        display: table-cell;
        text-align: left;
        vertical-align: top;
      }
    }
    @media (min-width: $screen-sm-min) {
      li:not(:last-child) {
        .item-text-area {
          // height: 140px;
        }
      }
    }
  }
  .v2-patron {
    margin-bottom: 36px;
    .price-total {
      font-size: 26px;
      line-height: 34px;
    }
    .price-number {
      margin-left: 4px;
      display: inline-block;
      color: $clr-orange;
      font-weight: 700;
      font-size: 26px;
      line-height: 34px;
    }
  }

  .continue {
    .btn {
      display: block;
      overflow: hidden;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      padding: 18px 36px;
      white-space: normal;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      svg {
        margin: 0 0 0 12px;
        width: 17px;
        height: 14px;
        display: inline-block;
        fill: $clr-white;
      }
    }
  }
}
