body {
  font-weight: 400;
}

.btn-primary {
  @include button-variant($clr-green, $clr-green, $color: $clr-white, $hover-color: $clr-white, $active-color: $clr-white);
}

body {
  background: $clr-grey-darkest;
}

header {
  background: $clr-white;
  .navbar-brand {
    svg {
      width: 42px;
      height: 42px;
    }
    path {
      fill: $clr-grey-dark;
    }
  }
}

article {
  background: $clr-white;
  padding: 4rem 0;
  @include media-breakpoint-up(lg) {
    .container {
      max-width: 960px;
    }
  }
}

h1 {
  font-weight: 500;
}

footer {
  background: $clr-grey-darkest;
  padding: 2rem 0 4rem;
  color: $clr-white;

  .footer-links {
    a {
      color: $clr-white;
      text-decoration: none;
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus {
        color: $clr-white;
        text-decoration: none;
        border-bottom-color: $clr-white;
      }
    }
  }
  .footer-social {
    .social-logo {
      display: inline-block;
    }
    .social-logo-twitter {
      width: 30px;
      height: 24px;
      fill: $clr-blue;
      margin-top: -2px;
    }
    .social-logo-github {
      width: 26px;
      height: 26px;
      fill: $clr-white;
      margin-top: -2px;
    }
    span {
      display: inline;
      margin-left: 12px;
      vertical-align: middle;
    }
    a {
      color: $clr-white;
      text-decoration: none;
      span {
        border-bottom: 2px solid transparent;
      }
      &:hover,
      &:focus {
        color: $clr-white;
        text-decoration: none;
        span {
          border-bottom-color: $clr-white;
        }
      }
    }
  }
}

#btn-sponsor {
  position: relative;
}

.sponsor-tooltip {
  position: absolute;
  white-space: nowrap;
  max-width: 400px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 15px);
  padding: 6px 12px;
  border-radius: 12px;
  background: $clr-grey-dark;
  opacity: 1;
  transition: opacity 0.4s ease-out;

  &.is-loading {
    opacity: 0;
  }

  &:after {
    content: "";
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    margin-top: -20px;
    border:10px solid $clr-grey-dark;
    border-color: transparent transparent $clr-grey-dark transparent;
  }

  @include media-breakpoint-down(xl) {
    & {
      display:none
    }
  }
  @include media-breakpoint-only(xl) {
    & {
      left:auto;
      right: 0;
      transform: translate(0, 15px);
    }
    &:after {
      position:absolute;
      left: auto;
      right: 0;
      transform: translateX(-35px);
    }
  }
}
