---
layout: v1_base.njk
activeArea: embedding-web-apps
pageTitle: Embedding Web Apps
pageDescription: Learn how to make web apps more accessible by embedding them on your Freeter dashboards.
---
<section class="embedding-web-apps-index">
  <div class="container">
    <h1>
      Embedding Web Apps
    </h1>
    <h2>
      Find out some examples of how you can make your favorite web apps more accessible by embedding their most used features on Freeter dashboards.
    </h2>

    {% for column in columns %}
    <div class="embedding-web-apps--column">
      {% for category in column %}
      <div class="embedding-web-apps--category">
        <h3 class="embedding-web-apps--category--title" id="{{ category.item }}">
          {{ category.title }}
        </h3>
        <ul class="embedding-web-apps--category--items">
          {% for item in category.items %}
          <li>
            <a href="{{ item.url|e }}">
              <img src="{{ item.url|e }}/{{ item.logo|e }}" />
              <span>{{ item.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</section>
