---
layout: v1_base.njk
activeArea: embedding-web-apps
ogType: object
twitterCard: summary
---
<section class="embedding-web-apps-page">
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="/embedding-web-apps">Embedding Web Apps</a>
      </li>
    {% for item in breadcrumbs %}
      {% if loop.last %}
      <li>
        {{ item.title }}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    <article>
      <div class="col-logo">
        <img src="{{ curItem.logoUrl|e }}" alt="{{ curItem.title }} Logo" />
      </div>
      <div class="col-text">
        <h1>{{ curItem.title }}</h1>
        <div class="descr">{{ curItem.descr }}</div>
        {{ content | safe}}
      </div>
    </article>
  </div>
</section>
