---
layout: v1_base.njk
ogUrlPath: /
btnDownloadCaption: Download for Linux
btnDownloadInfo: For Ubuntu 12.04+, Fedora 21, Debian 8
btnDownloadURL: /download/Freeter.AppImage
btnCtrlOrCmd: Ctrl
---
<section id="intro">
  <div class="container">
    <h1>
      <strong>Freeter</strong> - The Organizer for <span class="typed-container"><span class="typed"></span></span>
      {#<strong>Freeter</strong> - The Organizer for Those Who Do#}
    </h1>
    <h2>
      The smartest way to work on your computer.
    </h2>
  </div>
</section>
<section id="screenshot">
  <div id="screenshot-bg1">
  </div>
  <div id="screenshot-bg2">
  </div>
  <div id="screenshot-img">
    <img src="/images/app_screen.png" />
  </div>
</section>
<section id="more" class="info-section">
  <div>
    <div class="container">
      <div class="download">
        <a href="{{ btnDownloadURL }}" class="btn btn-lg btn-green">
          <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 4 20 L 4 24 L 20 24 L 20 20 L 4 20 ZM 8 0 L 8 9 L 4 9 L 12 17 L 20 9 L 16 9 L 16 0 L 8 0 Z" />
          </svg>
          <span>{{ btnDownloadCaption }}</span>
        </a>
      </div>
      <div class="other-platforms">
        {{ btnDownloadInfo }} | <a href="/download">Other platforms</a>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="tweets">
        <div>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">I found <a href="https://twitter.com/FreeterApp">@FreeterApp</a> last week and love it! Why didn&#39;t I know about this sooner?! It feels like my whole workflow is now on one plate.</p>&mdash; Chris Jeffrey (@ChrisJeffGames) <a href="https://twitter.com/ChrisJeffGames/status/842358700211855360">March 16, 2017</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Where has this been all my life. Just bought a license. Can&#39;t wait to see where <a href="https://twitter.com/FreeterApp">@FreeterApp</a> goes in the future. <a href="https://twitter.com/hashtag/projectmanagement?src=hash">#projectmanagement</a> <a href="https://twitter.com/hashtag/organize?src=hash">#organize</a></p>&mdash; Shanda (@wattsupshanda) <a href="https://twitter.com/wattsupshanda/status/817086121096122368">January 5, 2017</a></blockquote>
        </div>
        <div>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Just purchased <a href="https://twitter.com/FreeterApp">@FreeterApp</a> This is the app I&#39;ve wanted for a long time and <a href="https://twitter.com/alex_kaul">@alex_kaul</a> must&#39;ve read my mind. Improves your workflow.</p>&mdash; Rob Eardley (@TheRobAlmighty) <a href="https://twitter.com/TheRobAlmighty/status/839966957910786052">March 9, 2017</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">omg just discovered <a href="https://twitter.com/FreeterApp">@FreeterApp</a> and I&#39;m bout to have the best sat morning systemizing my life for the last time i love u <a href="https://twitter.com/alex_kaul">@alex_kaul</a></p>&mdash; ughnett (@ughnett) <a href="https://twitter.com/ughnett/status/810157997494308865">December 17, 2016</a></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <p class="p-title">
        Switch between tasks and projects like a superhero
      </p>
      <p class="p-info">
        Gather all the things you need for work in one place and have quick access to them.
      </p>
      <p class="p-image">
        <img src="/images/more-all-in-one.png" class="img-responsive" />
      </p>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/more-projects.png" class="img-responsive" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Projects
          </p>
          <p class="p-title">
            Work on multiple projects
          </p>
          <p class="p-info">
            Freeter lets you work on as many projects as you want. Use the project dropdown to switch between them easily.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Dashboard
          </p>
          <p class="p-title">
            Upgrade your workflow
          </p>
          <p class="p-info">
            Use Freeter widgets to set up a dashboard, giving you quick access to all the things you need to work on a project.
          </p>
          <p class="p-info-more">
            <a href="/dashboard-examples" target="_blank" class="btn btn-lg btn-green">
              <span>Dashboard Examples</span>
            </a>
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/more-dashboard.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/more-tabs.png" class="img-responsive" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Tabs
          </p>
          <p class="p-title">
            Structure your workflows
          </p>
          <p class="p-info">
            Working on a project that involves multiple workflows or sub-projects? Split it into multiple dashboards and navigate between them using tabs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            To-Do List Widget
          </p>
          <p class="p-title">
            Quickly organize to-do lists
          </p>
          <p class="p-info">
            Stop thinking about your tasks. Let the to-do list widget remember them for you.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/more-to-do-list.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/more-webpage.png" class="img-responsive" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Webpage Widget
          </p>
          <p class="p-title">
            Access web apps and pages
          </p>
          <p class="p-info">
            Do you regularly need to open web apps, such as a task manager, a social media account, analytics, messenger, and so on? You can easily
            and directly access them from dashboards using the webpage widget.
          </p>
          <p class="p-info-more">
            <a href="/embedding-web-apps" target="_blank" class="btn btn-lg btn-green">
              <span>Embedding Web Apps</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Opener Widget
          </p>
          <p class="p-title">
            Open files and folders
          </p>
          <p class="p-info">
            Use the opener widget to open project files and folders with your editing programs quickly.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/more-opener.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/more-commander.png" class="img-responsive" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Commander Widget
          </p>
          <p class="p-title">
            Execute command lines
          </p>
          <p class="p-info">
            If you need to always execute the same command lines, such as &laquo;gulp watch&raquo;, &laquo;nginx restart&raquo; and so on,
            simply use the commander widget to execute them with an easy mouse click.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            File Explorer Widget
          </p>
          <p class="p-title">
            View a folder tree and open files
          </p>
          <p class="p-info">
            File explorer widget enables you to navigate through project files and folders easily, as well as open them.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/more-file-explorer.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/more-text.png" class="img-responsive" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Text Widget
          </p>
          <p class="p-title">
            Store text snippets
          </p>
          <p class="p-info">
            Need to write a quick note related to your project? Having to retype same messages or information
            again and again? Use the text widget to place them on a dashboard, then copy and paste the snippets with a mouse click.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Web Search
          </p>
          <p class="p-title">
            Search the web like a ninja
          </p>
          <p class="p-info">
            Use the searches helper tab to search the web using predefined search scopes easily.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/more-web-search.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <p class="p-title">
        The superpower is literally at your fingertips
      </p>
      <p class="p-info">
        Just press the <span class="hotkey"><span>{{ btnCtrlOrCmd|safe }}</span>+<span>Shift</span>+<span>F</span></span> hotkey to access Freeter from anywhere.
      </p>

      <!-- <div class="hotkey">
        <span class="key key-ctrl-shift">Ctrl</span>
        <span class="plus">+</span>
        <span class="key key-ctrl-shift">Shift</span>
        <span class="plus">+</span>
        <span class="key key-f">
          <svg viewBox="0 0 28 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 12 12 L 12 20 L 20 20 L 20 12 L 12 12 ZM 12 0 L 12 8 L 28 8 L 28 0 L 12 0 ZM 0 0 L 0 32 L 8 32 L 8 0 L 0 0 Z" />
          </svg>
        </span>
      </div> -->
      <!-- <div class="get-started">
        <a href="/user-guide/getting-started/what-is-it-for" class="btn btn-lg">
          Learn More
          <svg viewBox="0 0 18 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 0.7344 9.4624 L 12.6819 9.4624 L 9.1794 13.085 C 8.8943 13.3774 8.8943 13.8574 9.1794 14.1499 L 10.1993 15.2224 C 10.4844 15.5225 10.9418 15.5225 11.2269 15.2224 L 17.7294 8.4873 C 18.0143 8.1875 18.0143 7.7075 17.7294 7.415 L 11.2643 0.7175 C 10.9794 0.4175 10.5219 0.4175 10.2444 0.7175 L 9.2169 1.79 C 8.9393 2.0825 8.9393 2.5625 9.2169 2.855 L 12.7194 6.4775 L 0.7344 6.4775 C 0.3219 6.4775 -0.0081 6.8074 -0.0081 7.22 L -0.0081 8.72 C -0.0081 9.1326 0.3219 9.4624 0.7344 9.4624 L 0.7344 9.4624 Z"/>
          </svg>
        </a>
      </div> -->
    </div>
  </div>

  <div>
    <div class="container">
      <div class="download download-bottom">
        <a href="{{ btnDownloadURL }}" class="btn btn-lg btn-green">
          <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 4 20 L 4 24 L 20 24 L 20 20 L 4 20 ZM 8 0 L 8 9 L 4 9 L 12 17 L 20 9 L 16 9 L 16 0 L 8 0 Z" />
          </svg>
          <span>{{ btnDownloadCaption }}</span>
        </a>
      </div>
      <div class="other-platforms">
        {{ btnDownloadInfo }} | <a href="/download">Other platforms</a>
      </div>
    </div>
  </div>

</section>
<section id="even-more" class="info-section">
  <div>
    <div class="container">
      <p class="p-title">
        More kind words from happy users
      </p>
      <div class="tweets">
        <div>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Okay folks, this is quite cool: <a href="https://t.co/D4yIk8DOQy">https://t.co/D4yIk8DOQy</a> Already got it set up for two of my projects. <a href="https://twitter.com/FreeterApp">@FreeterApp</a></p>&mdash; Chris (@ninthspace) <a href="https://twitter.com/ninthspace/status/842400307179061248">March 16, 2017</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Just purchased <a href="https://twitter.com/FreeterApp">@FreeterApp</a> beta today, I just test the trial for a half an hour and decide to go pro immediately. <a href="https://twitter.com/hashtag/workflow?src=hash">#workflow</a></p>&mdash; Aditia A. Pratama (@aditia_ap) <a href="https://twitter.com/aditia_ap/status/803456028541009921">November 29, 2016</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">I’m increasingly thinking it’s a lack of separation between our projects that instigates our collective focus probs. <a href="https://twitter.com/FreeterApp">@FreeterApp</a> solves this</p>&mdash; Dain Miller (@dainmiller) <a href="https://twitter.com/dainmiller/status/781391676619235328">September 29, 2016</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/freeterapp">@freeterapp</a> Just tested on Win10, flawless, purchased immediately, gonna save me serious time in my crazy workflow, thanks!</p>&mdash; Jeff Larsen (@JeffLarsenTX) <a href="https://twitter.com/JeffLarsenTX/status/760595718109138944">August 2, 2016</a></blockquote>
        </div>
        <div>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Found this <a href="https://twitter.com/FreeterApp">@FreeterApp</a> today. I love it. Directly purchased the Pro. <a href="https://twitter.com/hashtag/organizer?src=hash">#organizer</a> <a href="https://twitter.com/hashtag/projectmanagement?src=hash">#projectmanagement</a> <a href="https://twitter.com/hashtag/timemanagement?src=hash">#timemanagement</a> <a href="https://twitter.com/hashtag/workflow?src=hash">#workflow</a></p>&mdash; Oliver Kalkbrenner (@OKalkbrenner) <a href="https://twitter.com/OKalkbrenner/status/839397565263187968">March 8, 2017</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/FreeterApp">@FreeterApp</a> got a pomodoro widget <a href="https://t.co/M2jyYL33l2">https://t.co/M2jyYL33l2</a>, check it out, seriously great productivity app for <a href="https://twitter.com/hashtag/linux?src=hash">#linux</a> <a href="https://twitter.com/hashtag/osx?src=hash">#osx</a> <a href="https://twitter.com/hashtag/windows?src=hash">#windows</a></p>&mdash; C.Trauma (@Chalktrauma) <a href="https://twitter.com/Chalktrauma/status/784026939208110081">October 6, 2016</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/freeterapp">@freeterapp</a> is now my new favorite app to manage my project ! So love it :)</p>&mdash; Yann Schmidt (@yannschmidt) <a href="https://twitter.com/yannschmidt/status/765462885497769988">August 16, 2016</a></blockquote>
          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/freeterapp">@freeterapp</a> hey, this look genuinely useful - will be buying. Web Devs, have a look at this <a href="https://t.co/SFDpLtV6hy">https://t.co/SFDpLtV6hy</a> <a href="https://twitter.com/hashtag/webdevelopment?src=hash">#webdevelopment</a></p>&mdash; scott couper (@scottcouper) <a href="https://twitter.com/scottcouper/status/733641398449213440">May 20, 2016</a></blockquote>
        </div>
      </div>
      <div>
        <a href="https://twitter.com/FreeterApp" data-show-count="false" data-size="large" class="twitter-follow-button">Follow @FreeterApp</a>
      </div>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

{#
  <div>
    <div class="container">
      <p class="p-title">
        Words from Author
      </p>
      <p class="p-info">
        More words from Author...
      </p>
      <div class="p-author">
        by <a href="https://twitter.com/freeter_author" target="_blank" class="author-link">@freeter_author</a>
      </div>
    </div>
  </div>
#}
</section>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{'/js/v1_actions.js' | bust}}"></script>
<script>
	$( document ).ready(function() {
    $(".typed").typed({
      strings: ["Those Who Do", "Developers", "Designers", "Bloggers", "Programmers", "Project Managers", "Writers", "Illustrators", "Social Media Managers", "Internet Marketers"],
      typeSpeed: 100,
      loop: true,
      startDelay: 1000,
      backDelay: 1000,
      preStringTyped: function(strIdx) {
      }
    });
  })
</script>
