// Palette

$clr-white: #FFF;
$clr-green: #67AA64;
$clr-red: #D46C62;
$clr-grey: #6D737D;
$clr-orange: #D87324;
$clr-blue: #528BFF;
$clr-brown: #C49A6C;

$clr-orange-light: #FFE0CC;
$clr-orange-dark: #D95300;
$clr-grey-dark: #474B52;
$clr-grey-darker: #373A40;
$clr-grey-darkest: #282B2F;
$clr-grey-darker-light: #7A7C81;
$clr-grey-dark-light: #BABCC1;
$clr-grey-light: #D1D3D6;
$clr-less-white: #E0E1E4;
$clr-almost-white: #f0f0f2;
$clr-almost-white2: #fbfbfd;
