---
layout: v2_base.njk
---
<article>
  <div class="container">
    <h1>Freeter — The Organizer For Those Who Do</h1>
    <p class="lead">
      The smartest way to work on your computer.
    </p>
    <p>
      Gather all the things you need for your work in one place, using widgets grouped by projects and workflows, and have a quick access to them with a <span class="badge text-bg-secondary">Ctrl/Cmd+Shift+F</span> key press or a tray icon. Easily switch between workflows, and stay focused on current things you need to do.
    </p>
    <p>
      This is a home page for the new version (v2) of Freeter, which is rewritten from scratch as a free open-source software and currently on Alpha stage. Check out <a href="https://patreon.com/alexkaul/about" target="_blank">About page @ Patreon</a> to read the story behind the v2.
    </p>

    <p>
      The landing page for the new version is not ready yet. Please check the <a href="https://freeter.io/">Freeter v1 homepage</a> and the following links, to get more information on what it does and how it works:
      <ul>
        <li><a href="https://medium.com/hackernoon/how-i-hacked-my-workflow-45e328ad8d9b">&quot;How I hacked my workflow&quot;</a></li>
        <li>Using Freeter (<a href="https://www.youtube.com/watch?v=bPxg0HzQNTk">Part 1</a> and <a href="https://www.youtube.com/watch?v=bPxg0HzQNTk">Part 2</a>)</li>
        <li><a href="https://medium.com/@faridalias/freeter-the-latest-awesome-tool-to-manage-academic-research-workflow-cc2d1c9195e3">&quot;Freeter: The Latest Awesome Tool to Manage Academic Research Workflow&quot;</a></li>
        <li><a href="https://hollylisle.com/recommending-some-software-fleeter-pro/">Recommending some software: Freeter Pro</a></li>
      </ul>
    </p>

    <h2>About Widgets</h2>

    <h3>Webpage</h3>

    <p>Often need to access same websites &amp; web apps, such as a task manager, a social media account, a web mail, a messenger, and so on? Use the Webpage widget to have them opened in your workflow tabs.</p>

    <p>Customize &quot;Session Scope&quot; to specify how the session data should be shared between webpage widgets. This is useful when you want to use a web app with multiple accounts.</p>

    <p>&quot;Show Mobile Version&quot; feature will show a compact mobile version of the website/web app, when it's supported. It's useful when you have multiple widgets on a workflow tab and want most of a webpage's useful content to fit a smaller area.</p>

    <h3>Note</h3>

    <p>Note widget is to store quick notes related to a project, such as thoughts, ideas or another important information you need to keep in front of you.</p>

    <h3>File Opener</h3>

    <p>This widget allows to group files and directories by projects and workflows, and open them in an associated application with a single click.</p>

    <h3>To-Do List</h3>

    <p>A widget to quickly organize tasks with a simple to-do list.</p>

    <h3>Commander</h3>

    <p>Commander widget enables you to predefine command-lines you often need to execute, and run them in Terminal with a single click.</p>

    <h3>Link Opener</h3>

    <p>This widget allows to group links related to your projects, and open them in Web Browser with a single click.</p>

    <hr class="my-4" />

    <h2>Recent updates</h2>
    <h3>February 29, 2024</h3>
    <ul>
      <li>Freeter v2.1.0-alpha <a href="/v2/download">released</a>.</li>
    </ul>
    <h3>January 25, 2024</h3>
    <ul>
      <li>Initial v2-alpha release is available on <a href="/v2/download">Download Page</a>.</li>
      <li>Online community to talk about development and ask questions about Freeter v2 is avaialble on <a href="https://community.freeter.io/">Freeter Community</a>.</li>
    </ul>
  </div>
</article>
