---
layout: v2_base.njk
---
<article>
  <div class="container">
    <h1>Freeter — The Organizer For Those Who Do</h1>
    <p class="lead">
      The smartest way to work on your computer.
    </p>
    <p>
      This is a home page for the new version (v2) of Freeter, which is rewritten from scratch as a free open-source software and currently on Alpha stage. It is a desktop application for Win, Linux and Mac serving the same purpose as the original Freeter — to boost the productivity by collecting everything you need to work in one easily accessible window, streamlining projects and workflows. Check out <a href="https://patreon.com/alexkaul/about" target="_blank">About page @ Patreon</a> to read the story behind the v2.
    </p>
    <p>
      The landing page for the new version is not ready yet. Please check the <a href="https://freeter.io/">Freeter v1 homepage</a> and the following links, to get more information on what it does and how it works:
      <ul>
        <li><a href="https://medium.com/hackernoon/how-i-hacked-my-workflow-45e328ad8d9b">&quot;How I hacked my workflow&quot;</a></li>
        <li>Using Freeter (<a href="https://www.youtube.com/watch?v=bPxg0HzQNTk">Part 1</a> and <a href="https://www.youtube.com/watch?v=bPxg0HzQNTk">Part 2</a>)</li>
        <li><a href="https://medium.com/@faridalias/freeter-the-latest-awesome-tool-to-manage-academic-research-workflow-cc2d1c9195e3">&quot;Freeter: The Latest Awesome Tool to Manage Academic Research Workflow&quot;</a></li>
        <li><a href="https://hollylisle.com/recommending-some-software-fleeter-pro/">Recommending some software: Freeter Pro</a></li>
      </ul>
    </p>

    <hr class="my-4" />

    <h2>Recent updates</h2>
    <h3>January 25, 2024</h3>
    <ul>
      <li>Initial v2-alpha release is available on <a href="/v2/download">Download Page</a>.</li>
      <li>Online community to talk about development and ask questions about Freeter v2 is avaialble on <a href="https://community.freeter.io/">Freeter Community</a>.</li>
    </ul>
  </div>
</article>
