---
layout: v2_base.njk
activeArea: release-notes
pageTitle: Release Notes
---
<article>
  <div class="container">
    <h1>
      Release Notes
    </h1>
    <div class="versions">
      <section class="version">
        <h2>
          Release 2.1.0-alpha – February 29, 2024
        </h2>
        <ul class="version-items">
          <li>Added Commander widget</li>
          <li>Added File Opener widget</li>
          <li>Added Link Opener widget</li>
          <li>Added To-Do List widget</li>
          <li>Minor improvements</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.0.0-alpha – January 21, 2024
        </h2>
        <ul class="version-items">
          <li>Initial Alpha release</li>
        </ul>
      </section>
    </div>
  </div>
</article>
