---
layout: v2_base.njk
activeArea: release-notes
pageTitle: Release Notes
---
<article>
  <div class="container">
    <h1>
      Release Notes
    </h1>
    <div class="versions">
      <section class="version">
        <h2>
          Release 2.2.0-alpha – April 1, 2024
        </h2>
        <ul class="version-items">
          <li>Added the Duplicate Project feature to the Project Manager</li>
          <li>Added the Copy/Paste Workflow/Widget features</li>
          <li>Added the UI Theme feature and the Dark theme</li>
          <li>Added the Maximize Widget feature to the Note and Webpage widgets</li>
          <li>Added the Open in Browser feature to the Webpage widget</li>
          <li>Added the Auto-Reload feature to the Webpage widget</li>
          <li>Disabled the Spell Checker in the Note widget and added an option to enable it when needed</li>
          <li>Added context menus to the Widget Palette, the Workflow Switcher and Widgets in the Edit mode</li>
          <li>Moved the Widget Palette to the Top Bar</li>
          <li>Moved the Edit Mode button to the right</li>
          <li>Minor fixes &amp; improvements</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.1.0-alpha – February 29, 2024
        </h2>
        <ul class="version-items">
          <li>Added Commander widget</li>
          <li>Added File Opener widget</li>
          <li>Added Link Opener widget</li>
          <li>Added To-Do List widget</li>
          <li>Minor improvements</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.0.0-alpha – January 21, 2024
        </h2>
        <ul class="version-items">
          <li>Initial Alpha release</li>
        </ul>
      </section>
    </div>
  </div>
</article>
