---
layout: v1_base.njk
activeArea: press
pageTitle: In the Press
date: 2024-01-01
modifDate: 2024-01-01
---
<section class="info-page">
  <div class="container">
    <h1>
      Press
    </h1>
    <h2>
      Mentions in the media
    </h2>
    <table>
      <tbody>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/youtube.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://www.youtube.com/watch?v=dVzGDwqaC0o" target="_blank">YouTube - aprendiendoando</a></div>
            <div class="title"><a href="https://www.youtube.com/watch?v=dVzGDwqaC0o" target="_blank">Freeter: organizador de area de trabajo primera parte</a></div>
          </td>
          <td>
            <div class="date"><a href="https://www.youtube.com/watch?v=dVzGDwqaC0o" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/libellules.ch')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.libellules.ch/phpBB2/freeter-gestionnaire-wysiwyg-de-tous-projets-t45561.html#p353172" target="_blank">Portail d'informatique</a></div>
            <div class="title"><a href="http://www.libellules.ch/phpBB2/freeter-gestionnaire-wysiwyg-de-tous-projets-t45561.html#p353172" target="_blank">Freeter &gt; gestionnaire &quot;wysiwyg&quot; de tous projets</a></div>
          </td>
          <td>
            <div class="date"><a href="http://www.libellules.ch/phpBB2/freeter-gestionnaire-wysiwyg-de-tous-projets-t45561.html#p353172" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/medium.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://medium.com/@fairread/freeter-the-latest-awesome-tool-to-manage-academic-research-workflow-cc2d1c9195e3" target="_blank">Medium</a></div>
            <div class="title"><a href="https://medium.com/@fairread/freeter-the-latest-awesome-tool-to-manage-academic-research-workflow-cc2d1c9195e3" target="_blank">Freeter: The Latest Awesome Tool to Manage Academic Research Workflow</a></div>
            <div class="author">by Farid Alias</div>
          </td>
          <td>
            <div class="date"><a href="https://medium.com/@fairread/freeter-the-latest-awesome-tool-to-manage-academic-research-workflow-cc2d1c9195e3" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/shopify.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://www.shopify.com/partners/blog/12-free-tools-for-remote-developers-and-designers" target="_blank">Shopify Blog</a></div>
            <div class="title"><a href="https://www.shopify.com/partners/blog/12-free-tools-for-remote-developers-and-designers" target="_blank">12 Free Tools for Remote Developers and Designers</a></div>
            <div class="author">by <a href="https://twitter.com/janiecreates" target="_blank">@janiecreates</a></div>
          </td>
          <td>
            <div class="date"><a href="https://www.shopify.com/partners/blog/12-free-tools-for-remote-developers-and-designers" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/toolperstartup.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.toolperstartup.com/2017/04/04/crea-una-dashboard-con-le-tue-app-preferite-in-pochi-click-freeter/" target="_blank">Tool per startup</a></div>
            <div class="title"><a href="http://www.toolperstartup.com/2017/04/04/crea-una-dashboard-con-le-tue-app-preferite-in-pochi-click-freeter/" target="_blank">Crea una dashboard con le tue app preferite in pochi click</a></div>
            <div class="author">by <a href="https://twitter.com/BMannelli" target="_blank">@BMannelli</a></div>
          </td>
          <td>
            <div class="date"><a href="http://www.toolperstartup.com/2017/04/04/crea-una-dashboard-con-le-tue-app-preferite-in-pochi-click-freeter/" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/hackernoon.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://hackernoon.com/how-i-hacked-my-workflow-45e328ad8d9b" target="_blank">Hacker Noon</a></div>
            <div class="title"><a href="https://hackernoon.com/how-i-hacked-my-workflow-45e328ad8d9b" target="_blank">How I hacked my workflow</a></div>
            <div class="author">by <a href="https://twitter.com/alex_kaul" target="_blank">@alex_kaul</a></div>
          </td>
          <td>
            <div class="date"><a href="https://hackernoon.com/how-i-hacked-my-workflow-45e328ad8d9b" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/fordee.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.fordee.com/technology/programming/2017/04/01/freeter/" target="_blank">Fordee Dot Com</a></div>
            <div class="title"><a href="http://www.fordee.com/technology/programming/2017/04/01/freeter/" target="_blank">Freeter - My latest productivity tool</a></div>
          </td>
          <td>
            <div class="date"><a href="http://www.fordee.com/technology/programming/2017/04/01/freeter/" target="_blank">April, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/90zbear.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.90zbear.com/web-develop/1191/" target="_blank">90zbear</a></div>
            <div class="title"><a href="http://www.90zbear.com/web-develop/1191/" target="_blank">案件ごとの諸々管理にfreeterが便利だったので、とりあえず有料版にした。</a></div>
          </td>
          <td>
            <div class="date"><a href="http://www.90zbear.com/web-develop/1191/" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/post-ty.pe')"></div>
          </td>
          <td>
            <div class="media"><a href="http://post-ty.pe/newsletter/%D7%9B%D7%9C%D7%99-%D7%9C%D7%99%D7%A6%D7%99%D7%A8%D7%AA-%D7%A1%D7%91%D7%99%D7%91%D7%AA-%D7%A2%D7%91%D7%95%D7%93%D7%94" target="_blank">POST_TYPE</a></div>
            <div class="title"><a href="http://post-ty.pe/newsletter/%D7%9B%D7%9C%D7%99-%D7%9C%D7%99%D7%A6%D7%99%D7%A8%D7%AA-%D7%A1%D7%91%D7%99%D7%91%D7%AA-%D7%A2%D7%91%D7%95%D7%93%D7%94" target="_blank">כלי ליצירת סביבת עבודה לפי פרויקט</a></div>
          </td>
          <td>
            <div class="date"><a href="http://post-ty.pe/newsletter/%D7%9B%D7%9C%D7%99-%D7%9C%D7%99%D7%A6%D7%99%D7%A8%D7%AA-%D7%A1%D7%91%D7%99%D7%91%D7%AA-%D7%A2%D7%91%D7%95%D7%93%D7%94" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/vk.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://vk.com/wall-104292492_5101" target="_blank">VK</a></div>
            <div class="title"><a href="https://vk.com/wall-104292492_5101" target="_blank">Freeter, революционный организатор</a></div>
            <div class="author">by Андрей Уманский</div>
          </td>
          <td>
            <div class="date"><a href="https://vk.com/wall-104292492_5101" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/goothium.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://goothium.com/2017/03/yeni-gorev-yoneticisi-web-tasarimcilarinin-calisma-seklini-degistirebilir/" target="_blank">Goothium</a></div>
            <div class="title"><a href="http://goothium.com/2017/03/yeni-gorev-yoneticisi-web-tasarimcilarinin-calisma-seklini-degistirebilir/" target="_blank">Yeni görev yöneticisi, web tasarımcılarının çalışma şeklini değiştirebilir</a></div>
            <div class="author">by Ahmet Özcan</div>
          </td>
          <td>
            <div class="date"><a href="http://goothium.com/2017/03/yeni-gorev-yoneticisi-web-tasarimcilarinin-calisma-seklini-degistirebilir/" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/creativebloq.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.creativebloq.com/news/new-task-manager-could-change-the-way-web-designers-work" target="_blank">Creative Bloq</a></div>
            <div class="title"><a href="http://www.creativebloq.com/news/new-task-manager-could-change-the-way-web-designers-work" target="_blank">New task manager could change the way web designers work</a></div>
            <div class="author">by Dom Carter</div>
          </td>
          <td>
            <div class="date"><a href="http://www.creativebloq.com/news/new-task-manager-could-change-the-way-web-designers-work" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/kachibito.net')"></div>
          </td>
          <td>
            <div class="media"><a href="http://kachibito.net/useful-resource/freeter" target="_blank">かちびと.net</a></div>
            <div class="title"><a href="http://kachibito.net/useful-resource/freeter" target="_blank">各種サービスやTodo、プロジェクト管理、ファイル検索、ノートやWeb検索等を1箇所で出来るようにしたデスクトップアプリ・「Freeter」</a></div>
          </td>
          <td>
            <div class="date"><a href="http://kachibito.net/useful-resource/freeter" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/webdesignerdepot.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://www.webdesignerdepot.com/2017/03/popular-design-news-of-the-week-february-27-2017-march-5-2017/" target="_blank">Webdesigner Depot</a></div>
            <div class="title"><a href="http://www.webdesignerdepot.com/2017/03/popular-design-news-of-the-week-february-27-2017-march-5-2017/" target="_blank">Popular design news of the week: February 27, 2017 – March 5, 2017</a></div>
            <div class="author">by <a href="https://twitter.com/cameron_chapman" target="_blank">@cameron_chapman</a></div>
          </td>
          <td>
            <div class="date"><a href="http://www.webdesignerdepot.com/2017/03/popular-design-news-of-the-week-february-27-2017-march-5-2017/" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/sdtimes.com')"></div>
          </td>
          <td>
            <div class="media"><a href="http://sdtimes.com/freeter-frees-developers-switching-tasks-projects/" target="_blank">SD Times</a></div>
            <div class="title"><a href="http://sdtimes.com/freeter-frees-developers-switching-tasks-projects/" target="_blank">Freeter frees developers from switching between tasks, projects</a></div>
            <div class="author">by <a href="https://twitter.com/moorewithmadi" target="_blank">@moorewithmadi</a></div>
          </td>
          <td>
            <div class="date"><a href="http://sdtimes.com/freeter-frees-developers-switching-tasks-projects/" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td><div class="logo" style="background-image:url('https://logo.clearbit.com/news.ycombinator.com')"></div></td>
          <td>
            <div class="media"><a href="https://news.ycombinator.com/item?id=13752348" target="_blank">Hacker News</a></div>
            <div class="title"><a href="https://news.ycombinator.com/item?id=13752348" target="_blank">Show HN: Freeter is out of Beta</a></div>
          </td>
          <td>
            <div class="date"><a href="https://news.ycombinator.com/item?id=13752348" target="_blank">March, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/webbizarro.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://www.webbizarro.com/aplicaciones/2653/freeter-un-organizador-para-todo-lo-que-hagas/" target="_blank">Web Bizarro</a></div>
            <div class="title"><a href="https://www.webbizarro.com/aplicaciones/2653/freeter-un-organizador-para-todo-lo-que-hagas/" target="_blank">Freeter un organizador para todo lo que hagas</a></div>
            <div class="author">by <a href="https://twitter.com/alvaroriosch" target="_blank">@alvaroriosch</a></div>
          </td>
          <td>
            <div class="date"><a href="https://www.webbizarro.com/aplicaciones/2653/freeter-un-organizador-para-todo-lo-que-hagas/" target="_blank">February, 2017</a></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="logo" style="background-image:url('https://logo.clearbit.com/reddit.com')"></div>
          </td>
          <td>
            <div class="media"><a href="https://www.reddit.com/r/macapps/comments/5jwqtg/organizer_for_those_who_do/" target="_blank">Reddit</a></div>
            <div class="title"><a href="https://www.reddit.com/r/macapps/comments/5jwqtg/organizer_for_those_who_do/" target="_blank">Organizer for Those Who Do</a></div>
            <div class="author">by <a href="https://twitter.com/alex_kaul" target="_blank">@alex_kaul</a></div>
          </td>
          <td>
            <div class="date"><a href="https://www.reddit.com/r/macapps/comments/5jwqtg/organizer_for_those_who_do/" target="_blank">December, 2016</a></div>
          </td>
        </tr>

        <tr>
          <td><div class="logo" style="background-image:url('https://logo.clearbit.com/brian.hatenablog.jp')"></div></td>
          <td>
            <div class="media"><a href="http://brian.hatenablog.jp/entry/recent-updated-favorite-webservice-september-2016" target="_blank">Brian'z Imagination</a></div>
            <div class="title"><a href="http://brian.hatenablog.jp/entry/recent-updated-favorite-webservice-september-2016" target="_blank">Web界隈で最近気になるWebサービスとか集めてみた【2016年9月版】</a></div>
          </td>
          <td>
            <div class="date"><a href="http://brian.hatenablog.jp/entry/recent-updated-favorite-webservice-september-2016" target="_blank">September, 2016</a></div>
          </td>
        </tr>

        <tr>
          <td><div class="logo" style="background-image:url('https://logo.clearbit.com/wwwhatsnew.com')"></div></td>
          <td>
            <div class="media"><a href="http://wwwhatsnew.com/2016/08/12/freeter-una-aplicacion-para-la-gestion-de-proyectos-de-programacion/" target="_blank">WWWhat's new?</a></div>
            <div class="title"><a href="http://wwwhatsnew.com/2016/08/12/freeter-una-aplicacion-para-la-gestion-de-proyectos-de-programacion/" target="_blank">Freeter, una aplicación para la gestión de proyectos de programación</a></div>
          </td>
          <td>
            <div class="date"><a href="http://wwwhatsnew.com/2016/08/12/freeter-una-aplicacion-para-la-gestion-de-proyectos-de-programacion/" target="_blank">August, 2016</a></div>
          </td>
        </tr>

        <tr>
          <td><div class="logo" style="background-image:url('https://logo.clearbit.com/producthunt.com')"></div></td>
          <td>
            <div class="media"><a href="https://www.producthunt.com/posts/freeter-2" target="_blank">Product Hunt</a></div>
            <div class="title"><a href="https://www.producthunt.com/posts/freeter-2" target="_blank">Freeter</a></div>
          </td>
          <td>
            <div class="date"><a href="https://www.producthunt.com/posts/freeter-2" target="_blank">August, 2016</a></div>
          </td>
        </tr>
      </tbody>
    </table>
</section>
