---
layout: v1_base.njk
activeArea: privacy
pageTitle: Privacy
pageDescription: Privacy Policy
date: 2024-01-01
modifDate: 2024-01-01
---
<section class="just-page">
  <div class="container info-blocks">
    <h1>Privacy Policy</h1>
    <p class="p-subhead">
      This page informs you of our policies regarding the collection and use of Personal Information when you use Freeter App or Freeter related service.
    </p>

    <div class="info-block">
      <p class="p-title">
        1. Definitions
      </p>
      <p>
        Freeter is owned by Alex Kaul (referred to as &quot;I&quot;, &quot;Me&quot;, &quot;Our&quot; or &quot;We&quot;). As a customer of this service you're a &quot;User&quot; or &quot;You&quot; according to this agreement. The App or any services offered by us will be referred to as &quot;Freeter&quot;, &quot;Freeter App&quot; or &quot;Service&quot;.
      </p>

      <p class="p-title">
        2. Your Data on External Websites
      </p>
      <p>
        Freeter is built on top of <a href="http://electron.atom.io/" target="_blank">Electron</a> which uses <a href="https://www.chromium.org/Home" target="_blank">Chromium</a> for embedding web browsers into the app. That means Freeter does not store any data you enter on websites. The only data that is stored are cookies and the browser cache - exactly as it is when using Chrome or Safari.
      </p>
      <p>
        <strong>Freeter does not store your login credentials nor does it directly access your accounts on websites you visit!</strong>
      </p>

      <p class="p-title">
        3. Application Statistics
      </p>
      <p>
        In order to improve Freeter, we use <a href="https://analytics.google.com" target="_blank">Google Analytics</a> to track how people work with Freeter App, which features and services are being used. The collected data doesn't allow to personally identify users. If you don't want to send that kind of data, you can disable it using Settings or Preferences menu in Freeter App.
      </p>

      <p class="p-title">
        4. Billing Information
      </p>
      <p>
        For selling licenses we use <a href="https://fastspring.com/" target="_blank">FastSpring</a>, the leading eCommerce service for the general software industry. That means Freeter does not store any data you enter on the purchase form. FastSpring's Privacy Policy is accessible via the link under the purchase form.
      </p>

      <p class="p-title">
        5. Changes
      </p>
      <p>
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
      </p>
      <p>
        You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
      </p>
    </div>
    <div class="info-block">
      <p>
        The last update to the privacy policy was posted on August 18, 2016.
      </p>
    </div>
  </div>
</section>
