---
layout: v1_base.njk
activeArea: release-notes
pageTitle: Release Notes
date: 2024-01-01
modifDate: 2024-01-01
---
<section class="just-page">
  <div class="container info-blocks">
    <!-- Versions -->
    <div class="info-block">
      <p class="p-title">
        Release 1.2.1 – May 1, 2017
      </p>
      <ul class="just-list">
        <li>Hotfix to resolve Unexpected Crashes issue. <a href="//forum.freeter.io/topic/168/unexpected-crashes" target="_blank">(Bug Report)</a></li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 1.2.0 – April 27, 2017
      </p>
      <ul class="just-list">
        <li>Added Export/Import features for sharing Projects and Dashboards. <a href="//forum.freeter.io/topic/61/share-project" target="_blank">(Community Request)</a></li>
        <li>Changed dashboard tab labels from &quot;tab&quot; to &quot;dashboard&quot; to better represent their meaning</li>
        <li>Added &quot;Show All Options&quot; buttons to provide an alternative way for opening contextual menus on dashboard tabs, to make it clear that there are more options available. <a href="//forum.freeter.io/topic/139/dashboard-tabs-button-to-access-contextual-menu" target="_blank">(Community Request)</a></li>
        <li>Improved the initialization of Webpage Widget</a>
        <li>Now when you duplicate a hidden project, the new project will be set to visible. This is helpful if you use hidden projects as templates</li>
        <li>Now new items are added before the completed ones in To-do List Widget. <a href="//forum.freeter.io/topic/112/completed-to-do-list-items-should-stay-at-the-bottom" target="_blank">(Community Request)</a></li>
        <li>Added support for SVG and ICO files on Image Widget and custom icons. <a href="//forum.freeter.io/topic/111/image-widget-show-svg-and-possibly-ico-files" target="_blank">(Community Request)</a></li>
        <li>Webpages header tab has been renamed to Links, to keep the consistency between the header bar and dashboard widgets</li>
        <li>Added OS-standard Hide/Show options to the application menu on Mac OS. <a href="//forum.freeter.io/topic/98/hide-freeter" target="_blank">(Community Request)</a></li>
        <li>Improved AppImage for Linux</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 1.1.0 – March 29, 2017
      </p>
      <ul class="just-list">
        <li>Added Link Opener widget. <a href="//forum.freeter.io/topic/50/dashboard-widget-to-open-website" target="_blank">(Community Request)</a></li>
        <li>Opener widget renamed into File Opener</li>
        <li>Added &quot;Open in web browser&quot; button to the header of Webpage widget. <a href="//forum.freeter.io/topic/71/button-on-web-widgets-to-open-page-in-a-browser" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Open link in web browser&quot; feature to Webpage widget's contextual menu</li>
        <li>Fixed an issue with opening &quot;invalid certificate&quot; pages in Webpage widget. <a href="//forum.freeter.io/topic/48/empty-web-page-when-certificate-is-not-recognized" target="_blank">(Community Request)</a></li>
        <li>Now when you enter a link in To-Do List widget it will be displayed as a clickable text which opens the link in the web browser. <a href="//forum.freeter.io/topic/35/todo-list-with-a-href-tags" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Add Item&quot; button to the header of To-Do List widget. <a href="//forum.freeter.io/topic/99/todo-list-add-item" target="_blank">(Community Request)</a></li>
        <li>Now completed items automatically move to the bottom of To-Do List widget. This behavior can be switched off via widget settings. <a href="//forum.freeter.io/topic/86/todo-list-ordering" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Open in Terminal&quot; feature to File Explorer widget's contextual menu. <a href="//forum.freeter.io/topic/89/open-terminal-here" target="_blank">(Community Request)</a></li>
        <li>Now Image widgets auto-refresh when the image file changes. <a href="//forum.freeter.io/topic/74/image-changes" target="_blank">(Community Request)</a></li>
        <li>Added icons to Webpages tab. <a href="//forum.freeter.io/topic/54/webpage-tab-show-favicon-of-the-website" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Toggle Edit Layout Mode&quot; item to View menu, and Ctrl/Cmd+E shortcut</li>
        <li>Added &quot;Launch at OS startup&quot; feature to application settings. <a href="//forum.freeter.io/topic/77/ability-to-launch-on-startup-win10" target="_blank">(Community Request)</a></li>
        <li>Added Drop support to File/Folder pickers. <a href="//forum.freeter.io/topic/80/drag-drop-folder-to-fill-in-path" target="_blank">(Community Request)</a></li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 1.0.0 – February 28, 2017
      </p>
      <ul class="just-list">
        <li>Freeter is out of Beta!</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.14.0 – February 20, 2017
      </p>
      <ul class="just-list">
        <li>Added new highlighting conditions to the file explorer widget: &quot;Doesn't equal to&quot;, &quot;Doesn't begin with&quot;, &quot;Doesn't end with&quot; and &quot;Doesn't contain&quot;</li>
        <li>Now it's possible to enter multiple comma-separated conditions for highlighting rules in the file explorer widget</li>
        <li>Added new highlighting options to the file explorer widget: &quot;Hide&quot;, &quot;Semi-transparent&quot; and &quot;No color&quot;</li>
        <li>Added new highlighting options to set custom icons in the file explorer widget</li>
        <li>(Windows / Linux) Added &quot;Hide Menu Bar&quot; option to View menu</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.13.2 – February 8, 2017
      </p>
      <ul class="just-list">
        <li>Added an application setting for enabling the manual data backup / sync. <a href="//forum.freeter.io/topic/28/option-to-trigger-backup-sync-data-manually" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Print...&quot; feature to the webpage widget. <a href="//forum.freeter.io/topic/29/printer-shortcut" target="_blank">(Community Request)</a></li>
        <li>Fixed a bug which blocked the execution of command-lines in some Windows environments. <a href="//forum.freeter.io/topic/25/commander-broken" target="_blank">(Community Request)</a></li>
        <li>Fixed a problem with frequent backup/sync messages when repeatedly pressing keyboard shortcuts. <a href="//forum.freeter.io/topic/27/webpage-widget-turn-blank" target="_blank">(Community Request)</a></li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.13.0 – February 3, 2017
      </p>
      <ul class="just-list">
        <li>Now Freeter is available in two editions: Free and PRO</li>
        <li>Added an application setting for choosing the terminal to execute command lines with</li>
        <li>Improved the execution of command lines</li>
        <li>Added &quot;Show Mobile Version&quot; feature to the webpage widget. <a href="//forum.freeter.io/topic/20/websitewidget-mobile-version" target="_blank">(Community Request)</a></li>
        <li>Added &quot;Auto Reload&quot; feature to the webpage widget </li>
        <li>Moved &quot;Start page&quot; to the beginning of the webpage widget buttons</li>
        <li>Improved the performance of the webpage widget</li>
        <li>Added &quot;Highlight Color&quot; feature to widgets. <a href="//forum.freeter.io/topic/12/small-feature-for-to-do-widget" target="_blank">(Community Request)</a></li>
        <li>Added options to set custom icons for projects, commander/opener widgets using Image Links</li>
        <li>Added a button to stop active timers</li>
        <li>Fixed a bug which caused an active timer to continue ticking after its removal</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.12.0 – December 21, 2016
      </p>
      <ul class="just-list">
        <li>Added options enabling to set custom icons for projects and commander/opener widgets</li>
        <li>Added keyboard shortcuts for Project Tabs</li>
        <li>Improved the configuration menu for Opener and Commander widgets</li>
        <li>Added options for changing the Opener/Commander look: icon on the top, icon on the left, no icon, no caption</li>
        <li>Improved Contextual Menu for dashboard tabs in the edit mode</li>
        <li>Added Dashboard Tab configuration menu</li>
        <li>Added &quot;Highlight Color&quot; feature to dashboard tabs</li>
        <li>Added keyboard shortcuts for Dashboard Tabs. <a href="//forum.freeter.io/topic/3/hotkeys-to-tabs" target="_blank">(Community Request)</a></li>
        <li>Now pasting multiple lines on To-Do List widget's Add Item will add multiple to-do items to the list</li>
        <li>Fixed a bug which blocked Dragging-Dropping files into Webpage widget</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.11.0 – November 30, 2016
      </p>
      <ul class="just-list">
        <li>Improved Project Switcher and other option pickers</li>
        <li>Added &quot;Toggle Full Screen&quot; option to View menu</li>
        <li>Added Drag &amp; Drop between To-Do List widgets. Now To-Do Lists can be used for Kanban.</li>
        <li>Added &quot;Mark All as Complete&quot; and &quot;Delete Completed Tasks&quot; options to To-Do List's contextual menu</li>
        <li>Added &quot;Ask Confirmation&quot; option to Commander's settings</li>
        <li>Improved the contextual menu of Webpage widget. New options enable to copy/save images/links.</li>
        <li>Added &quot;Go to start page&quot; option to Webpage widget. <a href="//forum.freeter.io/topic/2/home-button-on-webpage-widget" target="_blank">(Community Request)</a></li>
        <li>Added a built-in downloader for downloads started by Webpage widgets. It notifies about the download progress using the task/dock bar and desktop notifications.</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.10.0 – October 6, 2016
      </p>
      <ul class="just-list">
        <li>Added Timers</li>
        <li>Added &quot;Mark All as Incomplete&quot; option to To-Do List Widget</li>
        <li>Added View menu with options to hide/show the header tabs (timers, toolkit, etc.)</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.9.0 – September 26, 2016
      </p>
      <ul class="just-list">
        <li>Added Data Backup / Sync feature</li>
        <li>Added Image widget</li>
        <li>Changed Webpage widget's default background to white. Now webpages having a transparent background look better.</li>
        <li>Improved the loading indicator in Webpage widget</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.8.0 – September 1, 2016
      </p>
      <ul class="just-list">
        <li>Released Linux version</li>
        <li>Improved Navigation. Widgets are kept alive when moving between tabs within a project.</li>
        <li>Changed File/Directory pickers' behavior when the dialog's cancel button is pressed. This don't set the empty value anymore.</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.7.0 – August 22, 2016
      </p>
      <ul class="just-list">
        <li>Added To-Do List widget</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.6.2 – August 17, 2016
      </p>
      <ul class="just-list">
        <li>Minor improvements in Webpage widget</li>
        <li>(Mac OS) Fixed a bug which caused Commander widget and Commands tab to execute command lines in a wrong directory</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.6.1 – August 15, 2016
      </p>
      <ul class="just-list">
        <li>Fixed a bug which caused editing of widgets within a duplicated project to edit widgets of an original project</li>
        <li>(Mac OS) Fixed a bug which launched Finder in background when a folder is opened with Opener widget</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.6.0 – August 11, 2016
      </p>
      <ul class="just-list">
        <li>Implemented Multi-Dashboards and Tabs to navigate between them</li>
        <li>Added Contextual menus to Tabs (to Copy, Paste, Delete tabs)</li>
        <li>Actions widget was replaced with Commander and Opener widgets, to simplify the widget setup</li>
        <li>Added Sessions to Webpage widget</li>
        <li>Added Back/Forward features to Webpage widget</li>
        <li>Webpage widget now shows the current address on mouse over</li>
        <li>Added Copy Current Address feature to Webpage widget</li>
        <li>Removed Contacts widget. The improved Webpage widget makes it more useful to embed web versions of messengers
          directly into dashboards and contact people right from Freeter rather than launch messenger apps via Contacts widget.</li>
        <li>Notes widget was renamed to Text widget</li>
        <li>Added Copy Full Text feature to Text widget</li>
        <li>Minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.4.0 – June 14, 2016
      </p>
      <ul class="just-list">
        <li>Implemented Contextual Menus (accessible via right-click on Win, or control-click on Mac)</li>
        <li>Added Contextual menus to widgets and the dashboard in the edit mode (for accessing the add, edit, copy and paste widget commands)</li>
        <li>Added Contextual menus to Actions, File Explorer, Notes, Webpage widgets (for accessing the widgets' specific commands)</li>
        <li>Added more new features to File Explorer widget: Open with Tool, Show in Explorer / Finder, Copy Full Path, New Folder, Rename, Duplicate,
            Delete, Cut, Copy, Paste (accessible via the contextual menu)</li>
        <li>Added Multi-select to File Explorer widget (using shift and cmd/ctrl keys)</li>
        <li>Now unused header tabs can be hidden (the options accessible via the header's contextual menu)</li>
        <li>Misc minor improvements and fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.3.0 – May 18, 2016
      </p>
      <ul class="just-list">
        <li>Added Duplicate Project button on the Project Manager</li>
        <li>Enabled project switching in Edit Layout mode</li>
        <li>Widgets palette turned into Add Widget tab with the list of available widgets</li>
        <li>Added Copy button on widgets in Edit Layout mode</li>
        <li>Added Paste Widget tab</li>
        <li>Added Full Window mode for Notes and Webpage widgets</li>
        <li>Now Action widget's command-lines are executed in Project Directory by default, if an execution directory is not specified</li>
        <li>Minor improvements in Webpage widget</li>
        <li>Disabled hiding with Esc-key</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.2.1 – May 5, 2016
      </p>
      <ul class="just-list">
        <li>Released Mac version</li>
        <li>Improved icons appearing on the desktop, application windows and the system tray</li>
        <li>Minor bug fixes</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.2.0 – April 22, 2016
      </p>
      <ul class="just-list">
        <li>Added Searches tab</li>
        <li>Minor UI improvements</li>
        <li>Fixed problems with executing commands that require Administrator rights</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.1.1 – April 7, 2016
      </p>
      <ul class="just-list">
        <li>Added User Guide link on the Help menu</li>
        <li>Fixed problems with the edit/delete buttons on the widget configuration menus</li>
        <li>Fixed a bug caused the &quot;File does not exist&quot; status to not show on the Toolkit tab when Freeter starts</li>
      </ul>
    </div>

    <div class="info-block">
      <p class="p-title">
        Release 0.1.0 – March 23, 2016
      </p>
      <ul class="just-list">
        <li>Windows version</li>
        <li>Added Commands</li>
        <li>Added Toolkit</li>
        <li>Added Webpages</li>
        <li>Added Dashboard</li>
        <li>Added Actions widget</li>
        <li>Added Contacts widget</li>
        <li>Added File Explorer widget</li>
        <li>Added Notes widget</li>
        <li>Added Webpage widget</li>
      </ul>
    </div>
  </div>
</section>
