---
layout: v2_download-os.njk
dlFilename: mac-x64.dmg
---

<h2>How to launch Freeter on MacOS?</h2>
<p>If you get a notification &laquo;cant&apos;t be opened because it is from an unidentified developer&raquo; when launching the app, close the notification, right-click the app icon and select &laquo;Open&raquo; in the context menu. When a notification appears, click the &laquo;Open&raquo; button.</p>
