---
layout: v2_download-os.njk
dlFilename: mac-arm64.dmg
---

<h2>How to launch Freeter on MacOS?</h2>
<p>If you get a notification &laquo;cant&apos;t be opened because it is from an unidentified developer&raquo; when launching the app, close the notification, right-click the app icon and select &laquo;Open&raquo; in the context menu. When a notification appears, click the &laquo;Open&raquo; button.</p>
<p>If you get an error &laquo;is damaged and can&apos;t be opened&raquo; when launching the app, run the following in the Terminal:<br/>
  <code>xattr -cr /Applications/Freeter.app</code>
</p>
