---
layout: v2_download-os.njk
dlFilename: win-x64.msi
---

<h2>How to launch Freeter on Windows?</h2>
<p>If you get a notification &laquo;prevented an unrecognized app from starting&raquo; when launching the app, click &laquo;More info&raquo;, then &laquo;Run anyway&raquo;.</p>
