---
layout: v2_base.njk
activeArea: 404
pageTitle: Page not found
permalink: 404.html
---
<main>
  <div class="container text-center">
    <h1 class="display-1">
      404
    </h1>
    <p class="display-6">Sorry! It seems the page can't be found</p>
    <p class="mt-5"><a href="/" class="btn btn-primary">Home</a></p>
  </div>
</main>
