---
layout: v2_base.njk
activeArea: blog
pageTitle: Blog
---
<main>
  <div class="container">
    <h1>
      Freeter Blog
    </h1>
    <section class="blog-list">
      <article class="blog-card">
        <a href="/blog-post" class="blog-thumb">
          <img src="/images/app-screen.png" alt="Post Thumbnail" />
        </a>
        <div class="blog-content">
          <h2><a href="/blog-post">How to Organize Your Workspace</a></h2>
          <p class="blog-meta">August 20, 2025</p>
          <p class="blog-excerpt">Learn simple tricks to keep your digital and physical workspace clean and productive.</p>
          <a href="/blog-post" class="blog-more">Read More →</a>
        </div>
      </article>


      <article class="blog-card">
        <a href="/blog-post" class="blog-thumb">
          <img src="/images/app-screen.png" alt="Post Thumbnail" />
        </a>
        <div class="blog-content">
          <h2><a href="/blog-post">Top 10 Productivity Extensions</a></h2>
          <p class="blog-meta">August 12, 2025</p>
          <p class="blog-excerpt">We’ve collected our favorite extensions to help you stay focused and efficient.</p>
          <a href="/blog-post" class="blog-more">Read More →</a>
        </div>
      </article>

      <article class="blog-card">
        <a href="/blog-post" class="blog-thumb">
          <img src="/images/app-screen.png" alt="Post Thumbnail" />
        </a>
        <div class="blog-content">
          <h2><a href="/blog-post">Top 10 Productivity Extensions</a></h2>
          <p class="blog-meta">August 12, 2025</p>
          <p class="blog-excerpt">We’ve collected our favorite extensions to help you stay focused and efficient.</p>
          <a href="/blog-post" class="blog-more">Read More →</a>
        </div>
      </article>

      <article class="blog-card">
        <a href="/blog-post" class="blog-thumb">
          <img src="/images/app-screen.png" alt="Post Thumbnail" />
        </a>
        <div class="blog-content">
          <h2><a href="/blog-post">Top 10 Productivity Extensions</a></h2>
          <p class="blog-meta">August 12, 2025</p>
          <p class="blog-excerpt">We’ve collected our favorite extensions to help you stay focused and efficient.</p>
          <a href="/blog-post" class="blog-more">Read More →</a>
        </div>
      </article>
    </section>
  </div>
</main>

