---
layout: v1_base.njk
activeArea: buy
pageTitle: Buy Freeter PRO
---
<section class="info-page">
  <div class="container">
    <h1>
      Buy Freeter PRO
    </h1>
    <h2>
      Buy the license and activate PRO features.
    </h2>
    <ul class="buy-list">
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M29.76 20.03c-1.42 1.35-3.84 1.4-5.33-.04l-2.72-2.5 2.77-2.53c1.4-1.36 3.88-1.36 5.3 0 .7.67 1.1 1.57 1.1 2.52s-.4 1.85-1.1 2.53zm-18.23 0c-1.4 1.35-3.87 1.35-5.3 0-.7-.68-1.1-1.58-1.1-2.53 0-.96.4-1.85 1.1-2.53.72-.68 1.66-1.05 2.66-1.05.98 0 1.92.37 2.67 1.08l2.72 2.5-2.77 2.53zM27.1 9c-2.36 0-4.6.88-6.23 2.45L18 14.1l-2.83-2.6C13.5 9.87 11.27 9 8.9 9c-2.4 0-4.62.9-6.3 2.5-1.67 1.6-2.6 3.73-2.6 6s.92 4.4 2.6 6C4.28 25.1 6.5 26 8.9 26c2.36 0 4.6-.88 6.23-2.46L18 20.9l2.83 2.6c1.68 1.6 3.9 2.5 6.28 2.5 2.4 0 4.62-.88 6.3-2.5 1.67-1.6 2.6-3.73 2.6-6s-.92-4.4-2.6-6C31.72 9.87 29.5 9 27.1 9z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            Unlimited Projects and Dashboards
          </div>
          <div class="item-details">
            Free edition supports up to 3 projects and 5 dashboards per a project. With Freeter PRO you can add as many projects and dashboards as you want.
          </div>
        </div>
      </li>
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M32.55 3.42v14.96l-5.83-5.43c-.4-.37-.93-.58-1.47-.58-.66 0-1.27.3-1.7.83L16.7 22c-.22.3-.58.47-.95.47-.26 0-.5-.08-.7-.22l-4.46-3.23c-.46-.32-1.03-.5-1.63-.5-.7 0-1.32.22-1.8.62l-3.72 3.13V3.42h29.1zm0-3.42H3.45C1.55 0 0 1.53 0 3.42v29.16C0 34.48 1.55 36 3.45 36h29.1c1.9 0 3.45-1.53 3.45-3.42V3.42C36 1.52 34.45 0 32.55 0zM13.23 13.57c1.96 0 3.56-1.6 3.56-3.54 0-1.95-1.6-3.53-3.57-3.53-1.97 0-3.57 1.58-3.57 3.53 0 1.95 1.6 3.54 3.57 3.54z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            Icon Customization
          </div>
          <div class="item-details">
            Don’t like the standard icons? Want to see a logo near the project title and more distinct icons on commander, opener and file explorer widgets? PRO edition enables to set custom icons using image files and links.
          </div>
        </div>
      </li>
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M18.1 36H34c0-11.14-9.86-11.32-12.35-14.14l-.3-1.53c3.15-1.6 5.35-5.36 5.35-9.76C26.7 4.73 22.8 0 18 0c-4.8 0-8.7 4.73-8.7 10.57 0 4.43 2.25 8.22 5.43 9.8l-.26 1.34C12.2 24.7 2 24.68 2 36.02h16.1z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            User License
          </div>
          <div class="item-details">
            The license is per-user, so you’re welcome to use Freeter PRO on any computers and operating systems where you are the primary user.
          </div>
        </div>
      </li>
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M32.3 13.13c.94.94.94 2.45 0 3.4-.5.46-1.1.7-1.73.7-.63 0-1.24-.24-1.72-.7l-8.42-8.34v25.4c0 1.32-1.08 2.4-2.43 2.4s-2.43-1.07-2.43-2.4V8.2L7.15 16.5c-.95.94-2.5.94-3.44 0s-.94-2.45 0-3.4L16.3.73C16.74.24 17.35 0 18 0c.65 0 1.26.25 1.72.7L32.3 13.14z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            Version Updates
          </div>
          <div class="item-details">
            The license includes all point updates for Freeter 1.x. Future major versions, such as Freeter 2.x, will be a paid upgrade.
          </div>
        </div>
      </li>
    </ul>
    <div class="price">
      <div class="price-total">
        No subscription.
        <span class="price-number">
          Just $29
        </span>
      </div>
    </div>
    <div class="continue">
      <a href="#" class="btn btn-lg btn-green button-buy" data-fsc-item-path-value="freeter-app" data-fsc-item-path="freeter-app" data-fsc-action="Add,Checkout">
        Buy Freeter PRO
        <svg class="hidden-xs" viewBox="0 0 18 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
          <path d="M.74 9h11.98l-3.5 3.63c-.3.3-.3.78 0 1.07l1.02 1.07c.28.3.74.3 1.03 0l6.52-6.75c.27-.3.27-.78 0-1.08L11.3.24c-.28-.32-.74-.32-1.02 0L9.25 1.3c-.28.3-.28.78 0 1.07L12.75 6h-12C.32 6 0 6.33 0 6.75v1.5c0 .42.33.75.74.75z"/>
        </svg>
      </a>
    </div>
    <div class="corporate">
      If you're a team or business, please take a look at <a href="/buy-corporate">Corporate Licensing</a> for volume discounts.
    </div>
  </div>
</section>

<script>
  function decorateURLFunction(url) {
    try {
      ga(function() {
        var trackers = ga.getAll();
        linkerParam = trackers[0].get('linkerParam');
      });

      url = url + '?' + linkerParam;
    } catch (e) {}

    return url;
  }
</script>
<script
    id="fsc-api"
    src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.2/fastspring-builder.min.js"
    type="text/javascript"
    data-storefront="freeterio.onfastspring.com/popup-freeterio"
    data-decorate-callback="decorateURLFunction">
</script>
