---
layout: v1_base.njk
activeArea: buy
pageTitle: Buy Freeter PRO
---
<section class="info-page">
  <div class="container">
    <h1>
      Buy Freeter PRO
    </h1>
    <h2>
      Buy the license and activate PRO features.
    </h2>
    <ul class="buy-list">
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M29.76 20.03c-1.42 1.35-3.84 1.4-5.33-.04l-2.72-2.5 2.77-2.53c1.4-1.36 3.88-1.36 5.3 0 .7.67 1.1 1.57 1.1 2.52s-.4 1.85-1.1 2.53zm-18.23 0c-1.4 1.35-3.87 1.35-5.3 0-.7-.68-1.1-1.58-1.1-2.53 0-.96.4-1.85 1.1-2.53.72-.68 1.66-1.05 2.66-1.05.98 0 1.92.37 2.67 1.08l2.72 2.5-2.77 2.53zM27.1 9c-2.36 0-4.6.88-6.23 2.45L18 14.1l-2.83-2.6C13.5 9.87 11.27 9 8.9 9c-2.4 0-4.62.9-6.3 2.5-1.67 1.6-2.6 3.73-2.6 6s.92 4.4 2.6 6C4.28 25.1 6.5 26 8.9 26c2.36 0 4.6-.88 6.23-2.46L18 20.9l2.83 2.6c1.68 1.6 3.9 2.5 6.28 2.5 2.4 0 4.62-.88 6.3-2.5 1.67-1.6 2.6-3.73 2.6-6s-.92-4.4-2.6-6C31.72 9.87 29.5 9 27.1 9z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            Unlimited Projects and Dashboards
          </div>
          <div class="item-details">
            Free edition supports up to 3 projects and 5 dashboards per a project. With Freeter PRO you can add as many projects and dashboards as you want.
          </div>
        </div>
      </li>
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M32.55 3.42v14.96l-5.83-5.43c-.4-.37-.93-.58-1.47-.58-.66 0-1.27.3-1.7.83L16.7 22c-.22.3-.58.47-.95.47-.26 0-.5-.08-.7-.22l-4.46-3.23c-.46-.32-1.03-.5-1.63-.5-.7 0-1.32.22-1.8.62l-3.72 3.13V3.42h29.1zm0-3.42H3.45C1.55 0 0 1.53 0 3.42v29.16C0 34.48 1.55 36 3.45 36h29.1c1.9 0 3.45-1.53 3.45-3.42V3.42C36 1.52 34.45 0 32.55 0zM13.23 13.57c1.96 0 3.56-1.6 3.56-3.54 0-1.95-1.6-3.53-3.57-3.53-1.97 0-3.57 1.58-3.57 3.53 0 1.95 1.6 3.54 3.57 3.54z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            Icon Customization
          </div>
          <div class="item-details">
            Don’t like the standard icons? Want to see a logo near the project title and more distinct icons on commander, opener and file explorer widgets? PRO edition enables to set custom icons using image files and links.
          </div>
        </div>
      </li>
      <li>
        <div class="emblem-area">
          <span class="emblem">
            <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
              <path d="M18.1 36H34c0-11.14-9.86-11.32-12.35-14.14l-.3-1.53c3.15-1.6 5.35-5.36 5.35-9.76C26.7 4.73 22.8 0 18 0c-4.8 0-8.7 4.73-8.7 10.57 0 4.43 2.25 8.22 5.43 9.8l-.26 1.34C12.2 24.7 2 24.68 2 36.02h16.1z"/>
            </svg>
          </span>
        </div>
        <div class="item-text-area">
          <div class="item-title">
            User License
          </div>
          <div class="item-details">
            The license is per-user, so you’re welcome to use Freeter PRO on any computers and operating systems where you are the primary user.
          </div>
        </div>
      </li>
    </ul>
    <div class="v2-patron">
      <p>
        Freeter v1 is not supported anymore. Freeter v2 is under development and a first alpha release will be published soon. Consider supporting its development by becoming a Founding Patron. <a href="https://www.patreon.com/alexkaul/about" target="_blank" rel="nofollow">Read more...</a>
      </p>
      <p>
        If you need a PRO license of Freeter v1, <a href="https://www.patreon.com/alexkaul/about" target="_blank" rel="nofollow">support the v2 development</a> and send an email to <a href="mailto:patron@freeter.io">patron@freeter.io</a>.
      </p>
    </div>
  </div>
</section>
