---
layout: v2_base.njk
activeArea: index
date: 2025-07-01
modifDate: 2025-09-14
---
<section id="intro">
  <div class="container">
    <h1>
      <strong>Freeter</strong> - The Organizer for <span class="typed-container"><span class="typed"></span></span>
      {#<strong>Freeter</strong> - The Organizer for Those Who Do#}
    </h1>
    <h2>
      A smarter way to work on your computer. <a href="https://freeter.io/blog/">Read why</a>.
    </h2>
  </div>
</section>
<section id="screenshot">
  <div id="screenshot-bg1">
  </div>
  <div id="screenshot-bg2">
  </div>
  <div id="screenshot-img" class="container">
    <img src="/images/app-screen.png" alt="App Screenshot" class="img-shadow" />
  </div>
</section>
<section id="more" class="info-section">
  <div>
    <div class="container">
      <div class="download">
        <a href="/download" class="btn btn-lg btn-primary download-button">
          <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 4 20 L 4 24 L 20 24 L 20 20 L 4 20 ZM 8 0 L 8 9 L 4 9 L 12 17 L 20 9 L 16 9 L 16 0 L 8 0 Z" />
          </svg>
          <span>Download Freeter</span>
        </a>
      </div>
      <div class="download-platforms">
        For Linux, Windows, Mac OS
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <p class="p-title">
        Switch between tasks and projects like a superhero
      </p>
      <p class="p-info">
        Gather everything you need for work in one place, organized by projects and workflows, and have a quick access to them.
      </p>
      <p class="p-image">
        <img src="/images/index-all-in-one.png" alt="Everything in one place" class="img-fluid" />
      </p>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-project-switcher.png" alt="Stay focused on a project" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Projects
          </p>
          <p class="p-title">
            Stay focused on a project
          </p>
          <p class="p-info">
            Freeter helps you to set boundaries between projects and focus on what matters at any given moment. Select a project using the project drop-down menu and work on it without being distracted by irrelevant things.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Widgets
          </p>
          <p class="p-title">
            Quickly access everything you need
          </p>
          <p class="p-info">
            Use Freeter widgets to set up a workflow providing a quick access to everything you need for your work.
          </p>
          <p class="p-info-more">
            <a href="/workflow-examples" target="_blank" class="btn btn-lg btn-primary">
              <span>Workflow Examples</span>
            </a>
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-add-widget.png" alt="Widgets" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-webpage-widget.png" alt="Webpage Widget" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Webpage Widget
          </p>
          <p class="p-title">
            Use web apps efficiently
          </p>
          <p class="p-info">
            Embed all apps you use daily into your Freeter workflows using the webpage widget, and access them from one window. If you tired of switching between accounts, the widget also enables you to stay signed-in with different accounts on per-project, per-workflow or per-widget basis.
          </p>
          <p class="p-info-more">
            <a href="/web-apps" target="_blank" class="btn btn-lg btn-primary">
              <span>Web App Examples</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            File Opener Widget
          </p>
          <p class="p-title">
            Open project files in the editor
          </p>
          <p class="p-info">
            Use the file opener widget to open all project files and folders in your editing programs with a single click.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-file-opener-widget.png" alt="File Opener Widget" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-web-query-widget.png" alt="Web Query Widget" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Web Query Widget
          </p>
          <p class="p-title">
            Search the web like a ninja
          </p>
          <p class="p-info">
            Use the web query widget to quickly perform templated queries with a web search engine or any other website.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            To-Do List Widget
          </p>
          <p class="p-title">
            Add quick to-do lists
          </p>
          <p class="p-info">
            Stop keeping checklists and to-do lists in your head. Let the to-do list widget remember them for you.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-to-do-list-widget.png" alt="To-Do List Widget" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-commander-widget.png" alt="Commander Widget" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Commander Widget
          </p>
          <p class="p-title">
            Stop retyping command lines
          </p>
          <p class="p-info">
            If you need to enter the same commands in the terminal app frequently, use the commander widget to execute them with an easy click.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Timer Widget
          </p>
          <p class="p-title">
            Break work into intervals
          </p>
          <p class="p-info">
            Use the timer widget to setup a simple countdown timer that will help you to get things done by staying focused for short periods.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-timer-widget.png" alt="Timer Widget" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-note-widget.png" alt="Note Widget" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Note Widget
          </p>
          <p class="p-title">
            Write quick notes
          </p>
          <p class="p-info">
            Need to write a quick idea or keep an important note in front of you? Use the note widget to place it on the workflow screen.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            Workflow Tabs
          </p>
          <p class="p-title">
            Organize your workflows
          </p>
          <p class="p-info">
            If your project involves activities that can be isolated from each other, or contains sub-projects, or there are too many widgets for a single workflow screen, then split it into multiple workflows and navigate between them using tabs.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-workflow-tabs.png" alt="Organize your workflows" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-shelf.png" alt="Organize commong things" class="img-fluid img-shadow" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Shelf
          </p>
          <p class="p-title">
            Organize common things
          </p>
          <p class="p-info">
            When there are some things you need to have constant access to, regardless of the current project or workflow, such as a timer, place them on the Shelf.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            UI Theme
          </p>
          <p class="p-title">
            Switch to the dark theme
          </p>
          <p class="p-info">
            By default, the app uses the light color theme. If you prefer dark themes, then you can switch to it.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-ui-theme.png" alt="Dark theme" class="img-fluid img-shadow" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-img">
          <img src="/images/index-privacy.png" alt="Privacy" class="img-fluid" />
        </div>
        <div class="col-right col-txt">
          <p class="p-head">
            Privacy
          </p>
          <p class="p-title">
            No telemetry/tracking
          </p>
          <p class="p-info">
            Freeter respects your privacy. The app does not collect nor transmit telemetry, usage tracking or any other data.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row-info">
        <div class="col-left col-txt">
          <p class="p-head">
            GNU GPL
          </p>
          <p class="p-title">
            Free Open Source Software
          </p>
          <p class="p-info">
            Freeter is Free and <a href="https://github.com/FreeterApp/Freeter" target="_blank">Open Source</a> Software, forever. Released under the <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GNU General Public License</a>.
          </p>
        </div>
        <div class="col-right col-img">
          <img src="/images/index-foss.png" alt="FOSS" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <p class="p-title">
        The superpower is literally at your fingertips
      </p>
      <p class="p-info">
        Just press the <span class="hotkey"><span>Ctrl or ⌘</span>+<span>Shift</span>+<span>F</span></span> hotkey to access Freeter from anywhere.
      </p>
    </div>
  </div>

  <div>
    <div class="container download-bottom">
      <div>
        <a href="/download" class="btn btn-lg btn-primary download-button">
          <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <path d="M 4 20 L 4 24 L 20 24 L 20 20 L 4 20 ZM 8 0 L 8 9 L 4 9 L 12 17 L 20 9 L 16 9 L 16 0 L 8 0 Z" />
          </svg>
          <span>Download Freeter</span>
        </a>
      </div>
      <div class="download-platforms">
        For Linux, Windows, Mac OS
      </div>
    </div>
  </div>

</section>

<script src="{{'/js/v2_index.js' | bust}}"></script>
<script>
	$( document ).ready(function() {
    $(".typed").typed({
      strings: ["Those Who Do", "Developers", "Designers", "Social Media Managers", "Bloggers", "Marketers", "Project Managers", "Researchers", "Writers", "Freelancers", "Entrepreneurs", "Students", "Teachers"],
      typeSpeed: 100,
      loop: true,
      startDelay: 1000,
      backDelay: 1000,
      preStringTyped: function(strIdx) {
      }
    });
  })
</script>
