---
layout: v2_base.njk
activeArea: release-notes
pageTitle: Release Notes
---
<article>
  <div class="container">
    <h1>
      Release Notes
    </h1>
    <div class="versions">
      <section class="version">
        <h2>
          Release 2.6.0-beta – June 7, 2025
        </h2>
        <ul class="version-items">
          <li>Add horizontal scroll in worktable (contributed by niutech).</li>
          <li>Add injecting CSS &amp; JS into webpage (contributed by niutech).</li>
          <li>Add Markdown to notes (contributed by niutech).</li>
          <li>Minor fixes.</li>
          <li>Updated Chromium to 136.0.7103.149</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.5.0-beta – October 11, 2024
        </h2>
        <ul class="version-items">
          <li>Added MemSaver feature to free up memory from inactive workflows. This gives active workflows more computer resources and keeps Freeter fast.</li>
          <li>Added MemSaver configuration options to Application, Project and Workflow settings.</li>
          <li>Added Workflow Settings item to Workflow's context menu and action bar.</li>
          <li>Minor fixes.</li>
          <li>Updated Chromium to 128.0.6613.178</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.4.3-beta – August 27, 2024
        </h2>
        <ul class="version-items">
          <li>[Webpage widget] Fixed an issue with web apps and sites not working as intended and/or showing a &quot;unsupported browser&quot; page.</li>
          <li>[Webpage widget] Fixed a bug that caused copied link/image addresses to not paste into other widgets.</li>
          <li>Updated Chromium to 128.0.6613.36</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.4.2-beta – July 30, 2024
        </h2>
        <ul class="version-items">
          <li>[Webpage widget] Fixed a bug that caused login issues on Google apps.</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.4.1-beta – July 28, 2024
        </h2>
        <ul class="version-items">
          <li>[Webpage widget] Removed &quot;View Mode&quot; setting, as the feature became useless and partially caused some login issues. Most web apps now have separate urls for mobile and desktop versions, so there should not be any issues to use a right version without the view mode setting.</li>
          <li>[Webpage widget] Fixed a bug that caused login issues on some web apps and sites using captcha-less web challenge solutions.</li>
          <li>[Webpage widget] Fixed a bug that used an invalid session for links opened in a new window.</li>
          <li>Updated Chromium to 126.0.6478.183</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.4.0-beta – June 29, 2024
        </h2>
        <ul class="version-items">
          <li>[Webpage widget] Added &quot;Reload&quot; to the header bar and the context menu, when the auto-reload is turned on</li>
          <li>[Webpage widget] Added &quot;Hard Reload&quot; to the context menu, to reload the page bypassing the cache</li>
          <li>[Webpage widget] Added &quot;Developer tools&quot; to the context menu, to open the Chromium DevTools</li>
          <li>[Webpage widget] Updated the icon for the stop auto-reload button</li>
          <li>[Webpage widget] Fixed a bug causing the back/home header buttons to not refresh when a website updates the navigation history using JavaScript</li>
          <li>[Timer widget] Fixed a bug preventing the timer from playing the end-timer sound</li>
          <li>Fixed a bug causing the paste menu items to not update when copying a widget or a workflow after modifying it, when it was already copied before</li>
          <li>Updated Chromium to 126.0.6478.114</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.3.1-beta – April 14, 2024
        </h2>
        <ul class="version-items">
          <li>Fixed a bug in the Webpage widget which caused the app to freeze under some circumstances</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.3.0-beta – April 14, 2024
        </h2>
        <ul class="version-items">
          <li>Added Apps and Apps Manager</li>
          <li>Added the &quot;Open In App&quot; feature to the File Opener widget</li>
          <li>Added Web Query widget</li>
          <li>Added Timer widget</li>
          <li>Enabled new-window links in the Webpage widget</li>
          <li>Minor fixes</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.2.0-alpha – April 1, 2024
        </h2>
        <ul class="version-items">
          <li>Added the Duplicate Project feature to the Project Manager</li>
          <li>Added the Copy/Paste Workflow/Widget features</li>
          <li>Added the UI Theme feature and the Dark theme</li>
          <li>Added the Maximize Widget feature to the Note and Webpage widgets</li>
          <li>Added the Open in Browser feature to the Webpage widget</li>
          <li>Added the Auto-Reload feature to the Webpage widget</li>
          <li>Disabled the Spell Checker in the Note widget and added an option to enable it when needed</li>
          <li>Added context menus to the Widget Palette, the Workflow Switcher and Widgets in the Edit mode</li>
          <li>Moved the Widget Palette to the Top Bar</li>
          <li>Moved the Edit Mode button to the right</li>
          <li>Minor fixes &amp; improvements</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.1.0-alpha – February 29, 2024
        </h2>
        <ul class="version-items">
          <li>Added Commander widget</li>
          <li>Added File Opener widget</li>
          <li>Added Link Opener widget</li>
          <li>Added To-Do List widget</li>
          <li>Minor improvements</li>
        </ul>
      </section>

      <section class="version">
        <h2>
          Release 2.0.0-alpha – January 21, 2024
        </h2>
        <ul class="version-items">
          <li>Initial Alpha release</li>
        </ul>
      </section>
    </div>
  </div>
</article>
