---
layout: v2_base.njk
activeArea: sponsor
pageTitle: Become a Freeter Sponsor
date: 2024-01-01
modifDate: 2025-06-24
---
<main>
  <div class="container">
    <h1>Become a sponsor of Freeter</h1>
    <p class="lead">
      Freeter is a free and open-source software with its ongoing development made possible entirely by the support of the awesome sponsors &amp; backers.
    </p>

    <h2>Founding patrons</h2>
    <p>
      Patrons who join while Freeter is in <b>the Beta phase</b> will get <b>a very special reward</b> — <b>lifetime recognition</b> as a Founding Sponsor/Backer.
    </p>

    <h2>How to sponsor</h2>
    <p>
      Sponsorships can be done via <a href="https://www.patreon.com/alexkaul" rel="noopener noreferrer" target="_blank">Patreon</a>. There you can find more information on the available tiers and join.
    </p>

    <p>
      If you have questions regarding the sponsorships, please reach out to <a href="mailto:sponsor@freeter.io">sponsor@freeter.io</a>.
    </p>

    <hr />

    <section class="credits">
      <h2>Credits</h2>

      <h3>Founding Bronze Sponsors</h3>
      <ul class="list-sponsors">
        <li>Nick Hitch</li>
      </ul>

      <h3>Founding Backers</h3>
      <ul class="list-backers">
        <li><b>Nick Hitch</b></li>
        <li><b>Ryann Hoffman</b></li>
        <li><b>Ernesto</b></li>
        <li>Greg Lehmkuhl</li>
        <li>Rv3nDr3mr</li>
        <li>Mark Creamer</li>
        <li>Valor</li>
      </ul>
    </section>
  </div>
</main>
