body#download {
  article {
    text-align: center;
  }
  section {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  .os-list {
    border-bottom: 1px solid $clr-grey-light;
    color: $clr-grey-darker;
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 0 50px;
    font-size:0;
    text-align: center;
    li {
      display: block;
      @include media-breakpoint-down(sm) {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
      @include media-breakpoint-up(sm) {
        margin-left: 6px;
        margin-right: 6px;
        width: 200px;
      }
    }
  }

  .os-logo-area {
    height:160px;
    margin-bottom: 22px;
    svg {
      display:inline-block;
      vertical-align: bottom;
      path {
        fill: $clr-grey-dark;
      }
    }
    &.windows {
      padding-top: (160px - 120px);
      svg {
        width: 120px;
        height: 120px;
      }
    }
    &.osx {
      padding-top: (160px - 126px);
      svg {
        width: 106px;
        height: 126px;
      }
    }
    &.linux {
      padding-top: (160px - 120px);
      svg {
        width: 102px;
        height: 120px;
      }
    }
  }
  .os-title-area {
    margin-bottom: 4px;
    font-size:26px;
    font-weight: 400;
  }
  .os-info-area {
    margin-bottom: 22px;
    font-size:14px;
    font-weight: 300;
    @include media-breakpoint-up(sm) {
      height: 40px;
    }
  }

  .download-area {
    .btn {
      display: block;
      white-space: nowrap;
      padding: 12px 0;
      svg {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        path {
          fill: $clr-white;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
        font-size: 20px;
        margin-right: 7px;
      }
      &.disabled {
        color: $clr-white;
        background: $clr-less-white;
      }
    }

  }
  .os-info-more-area {
    font-style: italic;
    margin-top: 22px;
    font-size:14px;
    font-weight: 400;
  }
}
